<h2>Movies with same director <em><%= @movie.director %></em></h2>

<table class="table table-striped col-md-12" id="similar_movies_list">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    <% @similar_movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= movie.director %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <%= link_to 'Back', movie_path(@movie), :class => 'btn btn-primary col-2' %>
</div>